@CHARSET "UTF-8";

html, body {width:100%; height:100%; margin:0px; padding:0px;}

html {overflow:hidden;}
body {background:url('../img/background.jpg'); background-attachment:fixed; background-repeat:no-repeat; background-position:center; background-size:cover; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; overflow-x:hidden;}

a, h1, h2, h3, h4 {margin:0px; padding:0px;}

/* 브라우저 크기가 1440px 이하일 경우 */
@media screen and (max-width:1440px) {
	
	.grid figure h2 {font-size:1.1em;}
	.grid figure p {font-size:0.5em;}
	
	#blackPlate div.innerContent {width:1310px; height:737px; margin:-368.5px 0px 0px -655px;}
	#blackPlate div.innerContent div.top {height:237px;}
	#blackPlate div.innerContent div.top div.button {height:48px;}
	#blackPlate div.innerContent div.top div.title {height:91px; font-size:3em; line-height:2em;}
	#blackPlate div.innerContent div.top div.subTitle {height:50px; font-size:1.3em; line-height:50px;}
	#blackPlate div.innerContent div.top div.margin {height:48px;}
	#blackPlate div.innerContent div.left {width:710px;}
	#blackPlate div.innerContent div.left div.fotorama {width:710px;}
	#blackPlate div.innerContent div.left div.fotorama img {width:710px;}
	#blackPlate div.innerContent div.right {width:600px;}
	#blackPlate div.innerContent div.right div.subject, #blackPlate div.innerContent div.right div.period, #blackPlate div.innerContent div.right div.purpose,
		#blackPlate div.innerContent div.right div.collabo, #blackPlate div.innerContent div.right div.language {height:34px; font-size:1.1em; line-height:34px;}
	#blackPlate div.innerContent div.right div.column {height:34px; font-size:0.8em; line-height:34px;}
	
	#pageslide {width:340px;}

	#content {width:1180px;}
	#content div.title {height:210px;}
	#content div.innerContent div.grid {padding:16px 0px 0px 16px;}
	#content div.innerContent div.grid figure {width:372px; height:400px; margin:0px 11px 11px 0px; }
		
	#leftMenu div.title div.text {font-size:1em;}
	#leftMenu div.title div.button {line-height:17px;}
	#leftMenu div.profileImage img {width:300px;}
	#leftMenu div.profileImage div.button div.login div.loginBtn {width:300px;}
	#leftMenu div.summary {font-size:0.8em; line-height:1.8em;}
	#leftMenu div.spec h3 {font-size:1em; line-height:2em; }
	#leftMenu div.spec h4 {font-size:0.69em; line-height:2.1em;}	
}

/* 브라우저 크기가 1440px 초과할 경우 */
@media screen and (min-width:1441px) {

	.grid figure h2 {font-size:1.5em}
	.grid figure p {font-size:0.7em;}
	
	#blackPlate div.innerContent {width:1748px; height:983px; margin:-491.5px 0px 0px -874px;}
	#blackPlate div.innerContent div.top {height:283px;}
	#blackPlate div.innerContent div.top div.button {height:48px;}
	#blackPlate div.innerContent div.top div.title {height:121px; font-size:3.75em; line-height:2.3em;}
	#blackPlate div.innerContent div.top div.subTitle {height:66px; font-size:1.5em; line-height:66px;}
	#blackPlate div.innerContent div.top div.margin {height:48px;}
	#blackPlate div.innerContent div.left {width:1024px;}
	#blackPlate div.innerContent div.left div.fotorama {width:1000px;}
	#blackPlate div.innerContent div.left div.fotorama img {width:1000px; height:668px;}
	#blackPlate div.innerContent div.right {width:724px;}
	#blackPlate div.innerContent div.right div.subject, #blackPlate div.innerContent div.right div.period, #blackPlate div.innerContent div.right div.purpose,
		#blackPlate div.innerContent div.right div.collabo, #blackPlate div.innerContent div.right div.language {height:45px; font-size:1.2em; line-height:45px;}
	#blackPlate div.innerContent div.right div.column {height:45px; font-size:0.9em; line-height:45px;}

	#pageslide {width:453px;}

	#content {width:1574px;}
	#content div.title {height:280px;}
	#content div.innerContent div.grid {padding:20px 0px 0px 20px;}
	#content div.innerContent div.grid figure {width:498px; height:400px; margin:0px 15px 15px 0px; }
	
	#leftMenu div.title div.text {font-size:1.4em; }
	#leftMenu div.title div.button {line-height:25px;}
	#leftMenu div.profileImage img {width:413px;}
	#leftMenu div.profileImage div.button {width:413px;}
	#leftMenu div.summary {font-size:0.9em; line-height:1.8em; }
	#leftMenu div.spec h3 {font-size:1.2em; line-height:2em;}
	#leftMenu div.spec h4 {font-size:0.9em; line-height:2.1em;}	
}

#blackPlate {position:fixed; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); z-index:10; display:none;}
#blackPlate div.innerContent {position:absolute; top:50%; left:50%; background:rgba(0, 0, 0, 0.90); box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.3);}
#blackPlate div.innerContent div.top {width:100%;}
#blackPlate div.innerContent div.top div.button {height:48px;}
#blackPlate div.innerContent div.top div.button div.modify {width:72px; height:48px; float:right; font-family:NanumGothic; font-size:1.1em; text-align:center; line-height:48px; color:#888888; cursor:pointer;}
#blackPlate div.innerContent div.top div.button div.modify:hover {color:#eeeeee; background:rgba(255, 255, 255, 0.05);}
#blackPlate div.innerContent div.top div.button div.delete {width:72px; height:48px; float:right; font-family:Nanumgothic; font-size:1.1em; text-align:center; line-height:48px; color:#888888; cursor:pointer;}		
#blackPlate div.innerContent div.top div.button div.delete:hover {color:#eeeeee; background:rgba(255, 255, 255, 0.05);}
#blackPlate div.innerContent div.top div.button div.close {width:48px; height:48px; float:right; text-align:center; line-height:48px; cursor:pointer;}
#blackPlate div.innerContent div.top div.button div.close:hover {background:rgba(255, 255, 255, 0.05);}
#blackPlate div.innerContent div.top div.button div.close img {width:28px; height:28px; margin:10px;}
#blackPlate div.innerContent div.top div.title {clear:both; font-family:MyriadPro, NanumGothic; font-weight:bold; color:#eeeeee; padding-left:48px;}
#blackPlate div.innerContent div.top div.subTitle {clear:both; font-family:MyriadPro, NanumGothic; color:#eeeeee; padding-left:48px; background:rgba(255, 255, 255, 0.05);}
#blackPlate div.innerContent div.top div.margin {clear:both;}
#blackPlate div.innerContent div.left {clear:both; float:left;}
#blackPlate div.innerContent div.left div.fotorama {padding-left:48px;}
#blackPlate div.innerContent div.left div.fotorama img {}
#blackPlate div.innerContent div.right {float:right; padding:0px 10px 0px 10px;}	
#blackPlate div.innerContent div.right div.subject, #blackPlate div.innerContent div.right div.period, #blackPlate div.innerContent div.right div.purpose,
	#blackPlate div.innerContent div.right div.collabo, #blackPlate div.innerContent div.right div.language {font-family:NanumGothic;  color:#ffffff; border-bottom:1px solid #1a1a1a;}
#blackPlate div.innerContent div.right div.memo {}
#blackPlate div.innerContent div.right div.column {width:120px; float:left; font-family:NanumGothic; font-weight:bold; text-align:center;}	
#blackPlate div.innerContent div.right div.data {float:left;}
	
#pageslide{position:fixed; top:0px; height:100%; color:#ffffff; background:rgba(255, 255, 255, 0.3); padding:20px; display:none; z-index:999999; -webkit-box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.1);}

#content {padding:0px; margin:auto; margin-bottom:50px;}
#content div.title {text-align:center; }
#content div.title a {}
#content div.title img.title {border:0px; outline:0px;}
#content div.innerContent {}
#content div.innerContent div.subContent {box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);}
#content div.innerContent div.subContent div.subTitle {font-family:Helvetica, NanumGothic; font-size:1.5em; font-weight:100; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5); height:40px; line-height:40px; background:rgba(0, 0, 0, 0.15); padding-left:10px;}
#content div.innerContent div.subContent div.grid {width:100%; list-style:none; margin:0px; overflow:hidden; margin-bottom:15px; background:rgba(0, 0, 0, 0.1);}
#content div.innerContent div.subContent div.grid figure {position:relative; font-family: 'Raleway', Arial, NanumGothic, sans-serif; text-align:center; box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.15); padding:0px; display:inline-block; overflow:hidden; z-index:1; cursor:pointer; overflow: hidden;}
#content div.innerContent div.subContent div.grid figure img {position:absolute; left:50%; top:50%; width:auto; height:100%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}

#leftMenu {display:none;}
#leftMenu a{font-weight:bold; color:#333; background:rgba(0, 0, 0, 0.1); border:none; padding:5px 10px;}
#leftMenu a:hover{background:#aaa;}
#leftMenu div.title {padding:0px;}
#leftMenu div.title div.text {height:40px; float:left; font-family:Helvetica; font-weight:600; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5); color:#000000;}
#leftMenu div.title div.button {height:40px; float:right;}
#leftMenu div.title div.button a {height:20px; font-family:Helvetica; font-size:1em; text-decoration:none; background:rgba(255, 255, 255, 0.1); }
#leftMenu div.title div.button a:hover {text-decoration:underline; background:rgba(255, 255, 255, 0.3); }
#leftMenu div.profileImage {line-height:0px;}
#leftMenu div.profileImage img {box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.3); cursor:pointer;}
#leftMenu div.profileImage div.button {clear:both;}
#leftMenu div.profileImage div.button div.login {display:none;}
#leftMenu div.profileImage div.button div.login div.loginBtn {height:40px; font-family:NanumGothic; font-size:0.9em; text-align:center; line-height:40px; color:#333333; background:rgba(255, 255, 255, 0.4); box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.05); cursor:pointer;}	
#leftMenu div.profileImage div.button div.logged {display:none;}	
#leftMenu div.profileImage div.button div.logged div.logoutBtn {height:40px; float:left; line-height:40px;}
#leftMenu div.profileImage div.button div.logged div.newPostBtn {height:40px; float:left; line-height:40px;}	
#leftMenu div.name {height:30px; clear:both; font-family:Helvetica; font-size:1.4em; font-weight:100; letter-spacing:-1px; text-align:right; color:#000000; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5); margin-top:20px;}
#leftMenu div.summary {font-family:NanumGothic; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5); color:#333333; margin-top:5px;}
#leftMenu div.spec {margin-top:20px;}
#leftMenu div.spec h3 {font-family:Helvetica; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5); color:#333333;}
#leftMenu div.spec h4 {font-family:tahoma; font-weight:100; text-shadow:1px 1px 0px rgba(255, 255, 255, 0.45); letter-spacing:-1px; color:#444444; padding-left:15px;}
#leftMenu div.spec h4 a {text-decoration:none;}
#leftMenu div.spec h4 a:hover {text-decoration:underline;}
#leftMenu div.spec h4 span.present {color:#777777;}

				


