<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>PostController</servlet-name>
    <servlet-class>seongyunism.controller.PostController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>

  
  <listener>
    <listener-class>seongyunism.util.UrlPath</listener-class>
  </listener>  
</web-app>